*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
        url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/DMSans-Regular.woff') format('woff');
}

html {
    height: 100vh;
    padding: 0;
}

body {
    display: flex;
    height: 90vh;
    margin: 0;
    align-items: flex-start;
}

.sidebar {
    position: relative;
    max-width: 33vw;
}

.front {
    display: flex;
    position: absolute;
    width: 100%;
    top: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-family: 'norsebold', serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.front>img {
    width: 60px;
}

.credit {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: white;
}

.credit>a {
    color: white;
}

.side {
    max-width: 100%;
}

.main {
    padding-left: 50px;
}

form>p>a {
    color: darkgreen;
    text-decoration: none;
}

.main>p {
    font-family: sans-serif;
}

.main>p:first-child {
    margin-top: 7vw;
    margin-bottom: 0;
}

.main>p:nth-child(2) {
    margin-top: 0;
}

.main>p:nth-child(4) {
    margin-top: 40px;
}

span {
    display: block;
    font-family: 'DM Sans Regular';
    font-size: 15px;
    letter-spacing: 4px;
}

input {
    width: 250px;
}

.container {
    display: flex;
}

.container>p {
    margin: 10px 60px;
    margin-left: 0px;
}
